html{
	font-family: 'LT Amber', sans-serif; 
}

progress{
	border-radius: 5px;
	height:5px;
	border-color: black;
}

progress::-moz-progress-bar {

  background-color: gray;
}

progress::-webkit-progress-bar {
  background-color: gray;
}

p {
	border-bottom: 1px solid lightgray;
	font-size: 12px;
	padding-bottom: 20px;
}

div{
	padding-top: 5px;
	font-size:14px;
}

button {
	margin-top: 10px;
	width: 100%;
	border-radius: 50px;
	border: 0px;
	height: 25px;
	color: white;
	background-color: blue;
}

.before_submit{
	font-size:12px;
}

h1{
	font-size: 24px;
	font-weight: normal;
}